* {
	border: border-box;
}

body {
	background: black;
	font-family: "Comic Neue", cursive;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 10px;
}

/*POSTACARD HEADER*/

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	margin: 0;
	width: 350px;
	padding-top: 5px;
}

/*POSTACARD BODY*/

.postcard-body {
	display: flex;
}

.body-left {
	font-weight: 600;
	font-size: 13px;
	width: 200px;
}

.body-right {
	width: 200px;
	margin: 0;
}

.body-right input {
	padding: 5px;
	border: none;
	border-bottom: 1px solid black;
	width: 190px;
	margin-bottom: 5px;
}

.body-right input::placeholder {
	font-family: "Comic Neue", cursive;
	font-weight: 400;
	font-size: 13px;
}

/*POSTCARD FOOTER*/

.postcard-footer {
	width: 100%;
	margin-top: 10px;
	display: flex;
}

.postcard-footer .button {
	background-color: darkgrey;
	justify-content: center;
	margin: 0 auto;
	padding: 5px;
	text-decoration: none;
	color: black;
}
